@model WaterMS.Models.Users
@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <h1 class="display-4">Register</h1>
</div>
<div class="container">
    <div class="col-sm-12">
        <form class="form-group" method="post" asp-controller="Register" asp-action="RegisterUser">
            <label for="Name">User ID:</label>
            <input type="text" asp-for ="UsersID" class="form-control" required />
            <div>
                <label for="Name">First Name:</label>
                <input type="text" asp-for="first_name" class="form-control"/>
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>
            <label for="Name">Last Name:</label>
            <input type="text" asp-for="last_name" class="form-control" required />
            <label for="phone_number">Phone Number:</label>
            <input type="text" asp-for="phone_number" class="form-control" required />
            <label for="Email">Email:</label>
            <input type="email" asp-for="email" class="form-control" required />
            <label for="password">New Password:</label>
            <input type="password" asp-for="password" class="form-control" required /><br />
            <label for="password">Confirm Password:</label>
            <input type="password"  class="form-control" name="ConfirmPassword" required /><br />
            <button class="form-control btn btn-primary">Register</button><br />
            <a class="nav-link text-primary" asp-area="" asp-controller="Account" asp-action="Account">Already have an account? Sign In</a>
        </form>
    </div>
</div>

