@model WaterMS.Models.Users;
@{
    ViewData["Title"] = "Forgot Password";
}
<div class="text-center">
    <h3 class="display-4">Forgot Password?</h3>
</div>
<div class="container">
    <div class="col-sm-12 align-content-center ">
        <form class="form-group" asp-controller="Forgot_password" asp-action="Retrieve_Password">
            <label for="email">Email</label>
            <input type="email" asp-for="email" class="form-control"  required />
            <label for="password">New Password:</label>
            <input type="password" class="form-control" asp-for="password" required /><br />
            <label for="password">Confirm Password:</label>
            <input type="password" class="form-control" name="ConfirmPassword" required /><br />
            <button class="form-control btn btn-primary">Send</button>
            <a class="nav-link text-primary" asp-area="" asp-controller="Account" asp-action="Account">Back to Sign In</a>
        </form>
    </div>
</div>